
node_modules/   #表示过滤这个文件夹
*.zip   #过滤zip后缀文件
demo.html   #过滤该文件
 
#反向操作，设置哪些文件不该过滤
!src/   跟踪该文件夹
!*.js   跟踪java源文件
!index.html 跟踪该文件
git lfs install           //安装lfs
 
 
git lfs track "*.pdf"     //使用lfs跟踪需要管理的大文件，也可以直接编辑.gitattributes文件
 
 
//然后走常规流程
git add yourLargeFile.pdf 
 
git commit -m "Add Large file
